<!DOCTYPE html>
<html>
  <head>
    <title>Simple Todo App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Create</h2>
      <form action="">
        <label for=" description">Todo Description</label>
        <input
          type="text"
          name="description"
          id=""
          placeholder="Enter your description..."
        />
        <br />
        <button type="submit">Add</button>
      </form>

      <h2>List</h2>
      {% for todo in todoList %}
      <form action="">
        <div class="todo">
          <label for="description">Description</label>
          <input
            type="text"
            name="description"
            id=""
            value="{{ todo['description'] }}"
            readonly
          />
          <label for="status">Status</label>
          <input
            type="text"
            name="status"
            id=""
            value="{{ todo['status'] }}"
            readonly
          />
          <button type="submit">Update</button>
          <button type="submit">Delete</button>
        </div>
      </form>
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
