<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='style.css') }}"
    />
    <title>Simple Todo App</title>
  </head>
  <body>
    <div>
      <h1>Create</h1>
      <form method="POST" action="/add">
        <input
          type="text"
          name="description"
          placeholder="Add a new TODO item"
          required
        />
        <button type="submit">Create new</button>
      </form>

      <h2>List</h2>
      <ul>
        {% for item in todoList %}
        <li>
          <div>
            <input type="checkbox" {% if item['status'] == 'Done' %}checked{%
            endif %}>
            <span>{{ item['description'] }}</span>
          </div>
          <div>
            <form
              method="POST"
              action="/update/{{ item['id'] }}"
              style="display: inline"
            >
              <button type="submit" class="update-btn">Update</button>
            </form>
            <form
              method="POST"
              action="/delete/{{ item['id'] }}"
              style="display: inline"
            >
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
